*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

    }
    
/* FÖRSÖK LÄGGA MENYN VERTIKALT VID RESPONSIV */

main{
    min-height: 100vh;
    display: grid;
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto auto;
}
    .container{
        grid-row: 2/3;
        grid-column: 1/3;
    display: grid;      
    grid-template-columns: 50vw 50vw;
    grid-template-rows: auto auto auto auto auto;


        
    } 

    .family-img{
        grid-row: 1/2;
        grid-column: 1/2;
    }
    .friends-img{
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .futsal-img{
        grid-row: 3/4;
        grid-column: 1/2;
    }
    .travel-img{
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .gaming-img{
        grid-row: 5/6;
        grid-column: 1/2;
    }

    .family-p{
        grid-row: 1/2;
        grid-column: 2/3;
    }
    .friends-p{
        grid-row: 2/3;
        grid-column: 2/3;
    }
    .futsal-p{
        grid-row: 3/4;
        grid-column: 2/3;
    }
    .travel-p{
        grid-row: 4/5;
        grid-column: 2/3;
    }
    .gaming-p{
        grid-row: 5/6;
        grid-column: 2/3;
    }
    
    .header{
        grid-row: 1/2;
        grid-column: 1/2;
        text-align: center;
        /* border-bottom: 2px solid rgb(88, 85, 85); */
        height: 30vh;

    }
    
    
    nav{
        /* grid-row: 2/3;
        grid-column: 2/3; */
        
        /* text-decoration: none;
        font-size: 18px;
        background-color: beige;

        border-bottom: 2px solid rgb(88, 85, 85);
        border-top: 2px solid rgb(88, 85, 85);
        color: rgb(240,87,66); */
    }
  
    ul{
        grid-row: 2/3;
        grid-column: 2/3;
        list-style-type: none;
        min-height: 30vh;
        
        display: flex;
        flex-flow: row nowrap;
        align-items: center;    
        justify-content: center;
        text-decoration: none;
        font-size: 18px;

        /* border-bottom: 2px solid rgb(88, 85, 85); */
        color: rgb(240,87,66);
    }

    li{
        padding-left: 2rem;
        max-height: 2rem;
        flex-basis: 6%;
    }
    
    .left{

        text-align: center;     
    }
    .left h1{
        color:rgb(240,87,66); ;
        font-size: 12px
  }
  .left p{
    width: 80%;

}

    .left img{
        max-width: 50%;
        height: auto;
        border-bottom-right-radius: 10%;
    }

    .split-left video{
        max-width:100%;
        opacity: 70%;
    }

    .img-info:hover{
        background: url("/img/ismail-kids.jpeg");
    }

    .right{
        grid-row: 1/6;
        grid-column: 2/3;
        background-color: beige;  
        text-align: center;      

    }
    
    .right h1{
        padding-top: 1rem;
        color: rgb(240,87,66);
    }
    
    .right p{
        width: 100%;

    }

    .right img{
        max-width: 100%;
        height: auto;
    }

    
    
    /* footer{
        grid-row: 4/5;
        grid-column: 1/3;
        background-color: rgb(240,87,66); 
        border-top:2px solid rgb(88, 85, 85);
        
    } */
 
    a{
        text-decoration: none;
        color: rgb(240,87,66);
    }
    
    a:hover{
        color: black;

    }

    img:hover{
        opacity: 80%;
    }

    p{
    }

    input[type=text], select, textarea {
        width: 100%;
        background-color: beige;
        padding: 10px;
        border: 1px solid rgb(88, 85, 85);
        border-radius: 3px;
        box-sizing: border-box;
        margin-top: 1px;
        margin-bottom: 10px;
        resize: vertical;
      }
      
      input[type=submit] {
        background-color: rgb(240,87,66);
        color: white;
        padding: 12px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
      }
      
      input[type=submit]:hover {
        background-color:rgba(160, 54, 40, 0.938);
      }
      
      .box-form {
        border-radius: 5px;
        padding: 1rem 4rem;
        text-align: left;
        color: black;
      }

/* Mobile */
/* FLER FOTON I PROJKET, PARAGRAFER INTE ÄR SÅ BREDA DESKTOP I MOBILE TVÄRTOM. */
@media (max-width: 500px){
    .container{
        min-height: 100vh;
        min-width: auto;
        grid-template-rows: 20vh auto 10%;
        grid-template-columns: 50% 50%;
    }
    .header{
        grid-row: 1/2;
        grid-column: 1/2;
        border-bottom: 2px solid rgb(99,100,103);
    }
    nav{
        grid-row: 1/2;
        grid-column: 2/3;
        border-top: none;
      
    }
    .split-left{
        /* display: flex; */
        grid-row: 2/3 ;
        grid-column: 1/2 ;
        background-color: beige;
    }
    .split-right{
        grid-row: 2/3 ;
        grid-column: 2/3 ;            
        background-color: white;        
    }

    footer{
        grid-row: 3/4;
        grid-column: 1/3;
    }

    .header img{
        max-width: 80%;
        max-height: 80%;
    

    }
    
    nav ul{
        max-width: 100%;
        font-size: 12px;
        flex-direction: column;
        
    }
    li{
        padding: 0.4rem;

    }
    p{
        font-size: 12px;
    }

    .split-left img{
       min-width: 100%;
    }

    input{
        font-size: 10px;
    }

    text{
        font-size: 10px;
    }

    .split-right h1{
        font-size: 12px;

    }
    .box-form {
        border-radius: 5px;
        /* padding: 1rem 4rem; */
        color: black;
        min-width: 100%;
        font-size: 10px;
        align-items: flex-start;
      }
      .box-form form{

      }
}